<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" href="../multimedia/assets/favicon/favicon-16x16.png">
    <title>Happy Look!</title>
</head>
<body> 
    <header>
        <img src="../multimedia/Logo.png" alt="logo" height="120px" width="200px">
    </header>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/servicios.html">Servicios</a></li>
            <li><a href="../views/asesores.html">Asesores</a></li>
            <li><a href="../views/aboutus.html">About Us</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main>
    <section>
        <h1>Nuestro Equipo de Asesores:</h1>
    </section>
    <section>
        <h2>Maria Perez:</h2>
        <p>Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Iure ullam earum repellat.
            Laboriosam sed repellat beatae optio, modi 
            aliquid ab quo quis, ea neque, repudiandae 
            animi eius facere? Eligendi, veritatis.
        </p>
        <h2>Juana Lopez:</h2>
        <p>Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Iure ullam earum repellat.
            Laboriosam sed repellat beatae optio, modi 
            aliquid ab quo quis, ea neque, repudiandae 
            animi eius facere? Eligendi, veritatis.
        </p>
        <h2>Ricardo Oz:</h2>
        <p>Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Iure ullam earum repellat.
            Laboriosam sed repellat beatae optio, modi 
            aliquid ab quo quis, ea neque, repudiandae 
            animi eius facere? Eligendi, veritatis.
        </p>
    </section>
    <section>
        <img src="../multimedia/persona 1.jpg" alt="Asesor 1" width="300px" height="200px">
        <img src="../multimedia/persona 2.jpg" alt="Asesor 2" width="300px" height="200px">
        <img src="../multimedia/persona 3.jpg" alt="Asesor 3" width="300px" height="200px">
    </section>  
    </main>
    <footer>
        <hr>
        <h4>Contacto:</h4>
        <h5>Teléfono de contacto: 999999999</h5>
        <h5>Dirección: Avenida San Juan 546</h5>
        <a href="http://www.linkedin.com">Linked In</a><br>
        <a href="http://www.facebook.com">Facebook</a><br>
        <a href="http://www.instagram.com">Instagram</a><br>
    </footer>
</body>
</html>