<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../multimedia/assets/favicon/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <title>Happy Look!</title>
</head>
<body> 
    <header>
        <a href="../index.html"><img src="../multimedia/Logo.png" alt="logo" height="120px" width="200px"></a>
    </header>
    <nav class="barranav">
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="../views/asesores.html">Asesores</a></li>
            <li><a href="../views/aboutus.html">About Us</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main class="main servicios">
        <section class="e">
            <h2>Servicios que ofrecemos:</h2>
            <p>Lorem ipsum dolor, sit amet consectetur 
                adipisicing elit. Iure ullam earum repellat.
                Laboriosam sed repellat beatae optio, modi 
                aliquid ab quo quis, ea neque, repudiandae 
                animi eius facere? Eligendi, veritatis.
            </p>
        </section>
        <section class="g">
            <table border="1" cellpadding="10px" cellspacing="5px">
                <tr>
                    <th>Servicio</th>
                    <th>Costo</th>
                    <th>Asesor</th>
                </tr>
                <tr>
                    <td>Asesoria de Imagen</td>
                    <td>$1000</td>
                    <td>Maria Perez</td>
                </tr>
                <tr>
                    <td>Armado de Guardarropas</td>
                    <td>$500</td>
                    <td>Juana Lopez</td>
                </tr>
                <tr>
                    <td>Asesoria de compras</td>
                    <td>$400</td>
                    <td>Ricardo Oz</td>
                </tr>
            </table>
        </section>
        <section class="f">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cFw60zcL4M4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </section>   
        </section>
        <section class="h">
            <img src="../multimedia/asesor 3.jpg" alt="asesor 3">
        </section>
    </main>
    <footer>
        <hr>
        <nav class="barranavfooter">
        <ul>
            <li>Contacto:</li>
            <li>Teléfono de contacto: 999999999</li>
            <li>Dirección: Avenida San Juan 546</li>
        </ul>
        </nav>
        <nav class="barranavfooter2">
        <ul>
            <li><a href="http://www.linkedin.com">Linked In</a><br></li>
            <li><a href="http://www.facebook.com">Facebook</a><br></li>
            <li><a href="http://www.instagram.com">Instagram</a><br></li>
        </ul>
        </nav>
    </footer>
</body>
</html>